<p id="notice"><%= notice %></p>

<p>
  <strong>Asunto:</strong>
  <%= @email.asunto %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @email.mensaje %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
